# =========================
# Operating System Files
# =========================

# OSX
.DS_Store
.AppleDouble
.LSOverride

# Windows
Thumbs.db
Desktop.ini

# Mac shortcuts
* alias

# Windows shortcuts
*.lnk



/build/
/tools/*
!/tools/*.cfg
!/tools/*.fgd
!/tools/*.rad
!/tools/*.txt
!/tools/*.void
!/tools/*.wad

*.7z
